@import "../variables";

.form-control {
  color: $cyan !important;
  border: 1px solid $pink !important;
  background-color: $blue !important;
}

.form-check-input:focus {
  box-shadow: none !important;
  border-color: $pink !important;
}

.form-check-input:checked {
  border-color: $pink !important;
  background-color: $pink !important;
}

.form-check-input:checked[type="radio"] {
  background-image: none !important;
}

.form-check-input {
  background-color: transparent !important;
}
